.landingTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.landingText {
  color: rgb(255, 255, 255);
  font-size: 28pt;
  opacity: 0;
  animation: fadeIn 3s ease forwards, fadeOut 1s ease forwards;
  animation-delay: 0.5s, 6s;
}

.landingText:first-child {
  transform: translateX(-20%);
}

.landingText:nth-child(2) {
  transform: translateX(20%);
  animation-delay: 2.5s, 6s;
}

.landingText:nth-child(3) {
  transform: translateX(-40%);
  animation-delay: 4s, 8s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}